---
//import library
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';

interface Props {
    tagline?: string,
    headline: string,
    subheadline: string
    image: string,
    alt: string,
    classes?: string;
}

const {
    tagline,
    headline,
    subheadline,
    image,
    alt,
    classes,
    ...rest
} = Astro.props as Props;

---

<section id="homeHero" class="section h-[screen-15vh]] 2xl:h-[66vh]">
    <div class="container">
        <div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-14">
            <!-- hero content -->
            <div class="homeHero__content h-full">
                <div class="homeHero__groupTitle space-y-1">
                    <span class="text-sm uppercase font-medium text-amber-700">{tagline}</span>
                    <h1 class="block text-3xl font-bold text-amber-500 sm:text-4xl lg:text-6xl lg:leading-none">{headline}</h1>
                </div>
                <p class="mt-8 text-lg font-medium text-zinc-900">{subheadline}</p>
            </div>

            <!-- hero media -->
            <div class="homeHero__media relative h-full ml-4 overflow-hidden">
                <img class="w-full rounded-lg" src={image} alt={alt}>
            </div>
        </div>
    </div>
</section>